.header-image {
width: 100px;
height: 100px;
}

.header {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 2000px !important;

}
.main-searchbar {
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.z-footer-headers-elements {
	padding: 2px !important;
	min-width: none !important;
}
.z-app-bar {
	background-color: black !important;
	padding-right: 0 !important;
	position: relative !important;
	box-shadow: none !important;
	vertical-align: middle !important;
	font-size: 32px !important;
	line-height: 32px !important;
}